* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.octocat {
  display: inline-block;
  width:30%;
  list-style: none;
  margin-left:24px;
}

.octocat img {
  width: 100%;
  border: 1px solid lightgray;
  border-width: thin;
  border-radius: 2px;
  display:inline-block;
}


.image-footer {
  position: relative;
  border-bottom: 1px solid lightgray;
  font-size:15px;
  font-weight: bold;
  margin-top: 10px
}


.image-number {
  color: lightgray;
  float: left;
  padding-top: 10px;
}
.image-number:before {
  content:"#";
}


.image-caption {
  text-align: right;
  color: gray;
  line-height: 25px;
}

.image-caption a {
  color: black;
  text-decoration: none;
}

ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.authors,
.authors a,
.authors li {
  display: inline-block;
  border-radius: 3px;
  list-style: none;
  vertical-align: middle;
}

.authors a {
  width: 30px;
}

.authors::before {
  content: "";
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-top-color: #C3C3C3;
  top: -14px;
  right: 10px;
}
